:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
}
body{
    color: var(--primary-text-color)
}
/* Стили заголовков секции */
.section .section-title{
    color:var(--title-text-color)
}
/* Стиль хедер */
.logo{
color: var(--title-text-color)
}
.logo-web{
    color:var(--accent-color)
}
.main-nav .nav-link{
    color: var(--title-text-color);}
    .nav-link:hover,.nav-link:focus{
        color: var(--accent-color)
    }
    .contacts .contacts-link{
        color: var(--primary-text-color);}
.contacts-link:hover,
.contacts-link:focus{
    color:var(--accent-color)
}
/* Стиль героя */
    .buttons{
    color: var(--primary-white-color);
    background-color:var(--accent-color);
}
.buttons:hover,
.buttons:focus{
    background-color:#188CE8;
}
.hero-title{
    color: var(--primary-white-color);
}
/* Стиль скуции Особености */
.features .title{
    color:var(--title-text-color)
}
/* Стиль секции Наша команда */
.team .title{
    color:var(--title-text-color)
}

/*#212121; цвет заголовков цвет текста
/*#757575; основной цвет текста
/*#2196F3; акцент
/*#FFFFFF; background: 1
/*#F5F4FA;background: 2
