body{
    background-color:#FFFFFF;
    color:#757575
}
.logo{
   color: #2196F3;
}


/*#212121; вторичниый цвет текста
/*#FFFFFF; 
/*#757575; первичный цвет текста
/*#2196F3; акцент
/*#FFFFFF; background: 1
/*#F5F4FA;background: 2
